[user]
    name = Albertas Gimbutas
    email = albertasgim@gmail.com
[color]
    ui = true
[alias]
    lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset %Cgreen(%ci)' --abbrev-commit --
    st = status
    plush = !git pull -r && git push
    dc = diff --cached
    di = diff
    ci = commit
    ch = checkout
    re = reset
    glog = log --graph
    mt = mergetool -y --tool=kdiff3 # git rebase --continue   # to merge conflicts
    # git ci -am "<message>"  # commits modified files
    # $ gitg  # GUI for change review
    # $ tig   # shell tool for change review
    # git merge --no-ff   # Merges without removing merge history
    # git clean -dfx      # Removes all uncommited files
[core]
    editor = nvim
    autocrlf = input
    eol = lf
[push]
    default = current
[grep]                                                                                                                           
    linenumber = true 
